*{
    margin: 0px;
    padding: 0px;
}
#tela {
    width: 900px;
    height: 700;
    border: 1px solid;

    
}

div {
    display: flex;
    justify-content: flex-end;
    margin-right: 30%;
    margin-left: 50%;
    margin-top: -20%;
    gap: 25px;
    
    flex-direction: column;
    width: 172px;
    

    
    
}
#verde {
    background-color: rgb(21, 88, 41); 
    border-style: none;
    border-radius: 100px;
    width: 47px;
    height: 40px;
    cursor: pointer;
}

#amarelo{
    background-color: rgb(226, 214, 36); 
    border-style: none;
    border-radius: 44px;
    width: 47px;
    height: 40px;
    cursor: pointer;
}

#azul {
    background-color: rgb(38, 38, 90); 
    border-style: none;
    border-radius: 44px;
    width: 47px;
    height: 40px;
    cursor: pointer;
}

#vermelho {
    background-color: rgb(150, 37, 37); 
    border-style: none;
    border-radius: 44px;
    width: 47px;
    height: 40px;
    cursor: pointer;
}

#borracha {
    background-color: white; 
    width: 47px;
    height: 40px;
    cursor: pointer;
}

.img {
    width: 30px;
    margin-top: -58px;
    margin-left: 7px;
    cursor: pointer;
}